@font-face {
    font-family: 'VelaSansGX';
    src: url('../fonts/velasansgx-extralight.woff2') format('woff2'),
         url('../fonts/velasansgx-extralight.woff') format('woff');
    font-weight: normal; /* можно указать bold или другие значения */
    font-style: normal; /* можно указать italic, oblique или другие значения */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'VelaSansGX', sans-serif;
    background-color: rgba(253, 251, 255, 1);
}

.wrapper {
    display: flex;
}

.option_sidebar_wrapper {
    width: 311px;
    min-height: 100vh;
    background-color: rgba(242, 245, 252, 1);
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-item {
    width: 70%; /* Ширина элемента сайдбара */
    margin: 5px 0; /* Отступы по вертикали */
    background-color: rgba(242, 245, 252, 1);
    border-radius: 22px;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-align: center; /* Центрирование содержимого */
}

.sidebar-content {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 0; /* Вертикальные отступы внутри элементов */
}

.sidebar-item_main  .sidebar-content {
    justify-content: center; /* Центрирование текста для главной страницы */
}

.sidebar-item a {
    width: 100%;
    height: 100%; /* Ссылка занимает всю высоту элемента */
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
}

.sidebar-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px; /* Отступ между иконкой и текстом */
}

.sidebar-text {
    font-size: 16px;
    text-align: left; /* Выравнивание текста по левому краю */
}

.sidebar-item .sidebar-text{
    font-size: 20px;
}

.sidebar-item_main {
    background-color: rgba(69, 54, 245, 1);
    padding: 1px 48px 1px 48px;
    border-radius: 22px;
    margin-bottom: 45px;
}

.sidebar-item_main .sidebar-text {
    color: #fff;
}

.sidebar-items {
    width: 100%; /* Контейнер для элементов сайдбара */
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.performance-content {
    flex: 1;
    padding: 30px 355px 20px 50px;
}

.performance-header {
    font-size: 16px;
    padding: 10px;
    margin-bottom: 5px;
}

.performance-header-text {
    padding-left: 40px;
    font-size: 36px;
    font-weight: bold;
    text-align: left;
}

.performance-notifications {
    padding: 10px 45px 25px 45px;
    display: flex;
    flex-direction: column;
}

.performance-header-row {
    display: grid;
    grid-template-columns: 2fr 0.5fr 0.5fr;
    padding: 10px;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 10px;
}

.performance-row {
    display: grid;
    grid-template-columns: 2fr 0.5fr 0.5fr;
    padding: 10px;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: #f2f5fc;
    justify-items: start;
}

.performance-header-row {
    background-color: #4caf50;
    color: white;
    font-weight: bold;
}

.performance-header-cell {
    padding: 10px;
    text-align: left;
}

.performance-cell {
    padding: 10px 10px 10px 10px;
    text-align: left;
    border-radius: 20px;
    display: inline-block;
}

.sorting-options {
    display: flex;
    justify-content: left;
    margin-bottom: 10px;
    padding-left: 40px;
    padding-top: 10px;
}

.sorting-item {
    margin-right: 10px;
}

.sorting-button {
    background-color: #f2f5fc;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.sorting-button:hover {
    background-color: #e0e4f2;
}

/* Result Styles */
.result-pass {
    background-color: rgba(93, 181, 97, 1);
    color: white;
    text-align: center;
    font-weight: bold;
}

.result-read {
    background-color: rgba(93, 181, 97, 1);
    color: white;
    text-align: center;
    font-weight: bold;
}

.result-warning {
    background-color: rgba(244, 206, 90, 1);
    color: white;
    text-align: center;
    font-weight: bold;
    display: flex;
}

.result-fail {
    background-color: rgba(208, 60, 83, 1);
    color: white;
    text-align: center;
    font-weight: bold;
}

.result-overdue {
    background-color: rgba(208, 60, 83, 1);
    color: white;
    text-align: center;
    font-weight: bold;
}

@media (max-width: 768px) { 

    .sorting-options{
        padding-left: 25px;
    }
 
    .body { 
        overflow-x: hidden; 
    } 
 
    .header_main_page_text { 
        font-size: 24px; 
        padding-left: 10px; 
    } 
 
    .notifications_main_text { 
        font-size: 24px; 
    } 
 
    .performance-notifications { 
        padding: 10px 25px 25px 25px;
        overflow-x: auto; /* Добавляем горизонтальную прокрутку */
        white-space: nowrap;
    } 

    .performance-row {
        min-width: 800px; /* Устанавливаем минимальную ширину для строк, чтобы они не сжимались слишком сильно */
    }

    .performance-header-row {
        min-width: 800px; /* Устанавливаем минимальную ширину для строк, чтобы они не сжимались слишком сильно */
    }
 
    .wrapper { 
        flex-direction: column; 
        /* Изменяем направление на колонку */ 
        max-width: 100vw; 
        /* Ограничить ширину до 100% ширины окна */ 
        overflow-x: hidden; 
        /* Скрыть горизонтальную прокрутку */ 
 
    } 
 
    .toggle-sidebar { 
        display: block; 
        /* Показываем кнопку для открытия сайдбара */ 
    }
 
    .option_sidebar_wrapper { 
        position: fixed; 
        /* Фиксируем сайдбар */ 
        left: -311px; 
        /* Скрываем сайдбар за пределами экрана */ 
        transition: left 0.3s ease; 
        /* Плавный переход */ 
        z-index: 1000; 
        /* Устанавливаем уровень z для сайдбара */ 
    } 
 
    .option_sidebar_wrapper.active { 
        left: 0; 
        /* Показываем сайдбар */ 
    } 
 
    .performance-content { 
        padding: 30px 0px 0px 0px; 
    } 
 
    .toggle-sidebar { 
        display: block; 
        position: absolute; 
        top: 5px; 
        right: 10px; 
        color: rgba(69, 54, 245, 1); 
        border: none; 
        border-radius: 5px; 
        padding: 10px; 
        cursor: pointer; 
        z-index: 1; 
        font-size: 24px;
        background-color: transparent; 
    } 

    .close-sidebar {
        display: block; 
        position: absolute;
        top: 5px; /* Отступ сверху */
        right: 10px; /* Отступ справа */
        font-size: 24px; /* Размер шрифта */
        cursor: pointer; /* Курсор в виде указателя */
        color: rgba(69, 54, 245, 1); /* Цвет крестика */
        border: none; 
        background-color: transparent; 
    }

    .option_sidebar_wrapper { 
        position: fixed; 
        top: 0;
        left: -100%;
        width: 100vw;
        transition: left 0.3s ease; 
        height: 100%;
        z-index: 1000; 
        /* Устанавливаем уровень z для сайдбара */ 
    } 
}